<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Automatic Trips</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="styles/style.min.css" />
        <script type="text/javascript" src="scripts/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="scripts/moment.min.js"></script>
        <script type="text/javascript" src="scripts/underscore.min.js"></script>
        <script type="text/javascript" src="scripts/script.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>
        <main class="trips container"></main>
        <script id="nav" type="text/template">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <a href="http://automatic.com" class="brand">Automatic</a>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-8">
                        <div class="stat-box">
                            <h1><%= miles %><span>Miles</span></h1>
                            <h1 class="avg-mpg"><%= mpg %><span>Average MPG</span></h1>
                        </div>
                    </div>
                    <div class="col-xs-2 hidden-xs hidden-sm">
                        <div class="stat-box">
                            <h1><%= trips %><span>Trips</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script id="trip" type="text/template">
            <div class="trip">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="distance">
                            <div class="b">B</div>
                            <h3><%= end.name %></h3><p><%= end.time %></p>
                            <div class="stat-box hidden-sm">
                                <h1><%= miles %><span>Miles</span></h1>
                                <h1><%= mpg %><span>MPG</span></h1>
                            </div>
                            <ul class="warnings">
                                <% if(hard.brakes) { %>
                                    <li><i class="brake warn"><%= hard.brakes %></i>
                                    <p>Hard <br/ >Brake<%= (hard.brakes == 1 ? '' : 's') %></p></li>
                                <% } else { %>
                                    <li><i class="brake"></i><p>No Hard <br/ >Brakes</p></li>
                                <% } %>
                                <% if(over70) { %>
                                    <li><i class="speed warn"></i><p>Over <br/ >70 MPH</p></li>
                                <% } else { %>
                                    <li><i class="speed"></i><p>Under <br/ >70 MPH</p></li>
                                <% } %>
                                <% if(hard.accels) { %>
                                    <li><i class="accel warn"><%= hard.accels %></i>
                                    <p>Hard <br/ >Accel<%= (hard.accels == 1 ? '' : 's') %></p></li>
                                <% } else { %>
                                    <li><i class="accel"></i><p>No Hard <br/ >Accels</p></li>
                                <% } %>
                            </ul>
                            <h3><%= start.name %></h3><p><%= start.time %></p>
                            <div class="a">A</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img class="map" src="<%= map %>" />
                        <div class="stat-box hidden-xs hidden-md hidden-lg">
                            <h1><%= miles %><span>Miles</span></h1>
                            <h1><%= mpg %><span>MPG</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </body>
</html>